/* some css of navbar */
 .btn-search{
        background-color: #fe424d;
        color: white;
        border-radius: 2rem;
        padding: 0 1rem 0 1rem;
        display: inline-flex;
        align-items: center;
    }
    .btn-search:hover{
        background-color: #fe424d;
        color: white;
    }
    .btn-search i{
        display:inline ;
        margin-right: 0.5rem;
    }

    .input-search{
        border-radius: 2rem;
        padding: 0.5rem 3rem 0.5rem 3rem;
    }
